:root {
  font-size: 10px;
}
* {
  padding: 0;
  margin: 0;
}
main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #a8dadc;
}
h1 {
  text-align: center;
  font-size: 5rem;
  margin-block: 2rem;
}
.container {
  width: 50rem;
  height: 50rem;
  border-color: white;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  font-size: xxx-large;
  cursor: pointer;
}

.winPage {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #55555581;
}
.winPage h1 {
  color: white;
  font-size: 7rem;
}
#restart {
  padding: 1rem 2rem;
  background: dodgerblue;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: x-large;
}

@media screen and (max-width: 550px) {
  .container {
    width: 30rem;
    height: 30rem;
  }

  .winPage h1 {
    font-size: 3rem;
  }
}
